<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sql.cms.mapper.CategoryMapper">
    <select id="selectAll" resultType="com.sql.cms.pojo.Category">
        select * from category;
    </select>
    <select id="selectById" resultType="com.sql.cms.pojo.Category">
        select * from category where cat_name = #{cat_name}
    </select>

    <delete id="deleteOne" parameterType="java.util.Map">
        delete from category where cat_name=#{catName}
    </delete>

    <insert id="insertOne" parameterType="com.sql.cms.pojo.Category">
        insert into category(cat_name, cat_photo)
        values(#{catName},#{catPhoto})
    </insert>

    <update id="updateOne" parameterType="java.util.Map">
        update category set
        cat_name=#{newCatName},
        cat_photo=#{catPhoto}
        where cat_name=#{oldCatName}
    </update>
</mapper>