<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sql.cms.mapper.CommodityMapper">
    <select id="selectAll" resultType="com.sql.cms.pojo.Commodity">
        select * from commodity;
    </select>
    <select id="selectById" resultType="com.sql.cms.pojo.Commodity">
        select * from commodity where co_no = #{co_no}
    </select>

    <insert id="insertOne" parameterType="java.util.Map">
        insert into commodity
        values (
            #{coNo},
            #{braName},
            #{catName},
            #{coName},
            #{coType},
            #{coJl},
            #{coMarketProse},
            #{coSalePrise},
            #{coCostPrise},
            #{coPhoto},
            #{coIntroduce},
            #{coNum}
        )
    </insert>

    <update id="updateOne" parameterType="java.util.Map">
        update commodity set
            co_no=#{newCoNo},
            bra_name=#{braName},
            cat_name=#{catName},
            co_name=#{coName},
            co_type=#{coType},
            co_jl=#{coJl},
            co_market_prose=#{coMarketProse},
            co_sale_prise=#{coSalePrise},
            co_cost_prise=#{coCostPrise},
            co_photo=#{coPhoto},
            co_introduce=#{coIntroduce},
            co_num=#{coNum}
        where co_no=#{oldCoNo}
    </update>
</mapper>