<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sql.cms.mapper.CustomerMapper">
    <select id="selectAll" resultType="com.sql.cms.pojo.Customer">
        select * from customer;
    </select>
    <select id="selectById" resultType="com.sql.cms.pojo.Customer">
        select * from customer where cus_no = #{cus_no}
    </select>

    <insert id="insertOne" parameterType="com.sql.cms.pojo.Customer">
        insert into customer(cus_no, cus_name, cus_tel, cus_site, cus_pwd)
        values(#{cusNo},#{cusName},#{cusTel},#{cusSite},#{cusPwd})
    </insert>
</mapper>