<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sql.cms.mapper.OrderDetailMapper">
    <select id="selectAll" resultType="com.sql.cms.pojo.OrderDetail">
        select * from order_detail;
    </select>
    <select id="selectByOrder" resultType="java.util.Map">
        select commodity.co_name,co_jl,commodity.bra_name,ord_det_num,ord_det_prise
        from order_detail, commodity where commodity.co_no = order_detail.co_no and order_detail.ord_no = #{ordNo}
    </select>

    <insert id="insertOne" parameterType="com.sql.cms.pojo.OrderDetail">
        insert into order_detail
        values (#{coNo}, #{ordNo},#{ordDetNo},#{ordDetPrise},#{ordDetNum},#{ordDetSumPrise})
    </insert>
</mapper>